// color
$ahoy-primary-color: #c16275;
$ahoy-text-color: aliceblue;
$ahoy-footer-background-color: #272727;
$shield-color: #252525;
$youtube-color: red;
$twitter-color: #1da1f2;
$bilibili-color: #009bce;
$schedule-alarm-color: #ebb563;

// font size
$small-font-size: 16px;
$normal-text-font-size: 20px;
$icon-font-size: 30px;
